<!DOCTYPE html>
<html>
<head>
  <title>Using Passport With Sails</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body>

<h1>Sails articles</h1>

<% if (req.user) { %>
Hello, <%= req.user.username %>
<a href="/logout" class="btn btn-default">Logout</a>
<a href="/article/create" class="btn btn-default">Add article</a>

<% } else { %>
<a href="/login" class="btn btn-default">Login</a> <a href="/signup" class="btn btn-default">Signup</a>
<% } %>

<a href="/article/" class="btn btn-default">Articles</a>


<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<!--SCRIPTS END-->
</body>
</html>
